@charset "UTF-8";

.container {
    margin: auto;
    width: 80%;
}

.header {
    margin: auto auto 30px auto;
    border-bottom: solid medium;
}

.contents {
    margin: auto;
}

.institute {
    font-style: italic;
}

.inprogress {
    display: inline-block;
    border: 1px solid #000;
    padding: 1px 1px;
    font-size: 0.4em;
    position: relative;
    top: -10px;
    /* vertical-align: super; */
}